.box-layout{display:-webkit-box;display:-webkit-flex;display:flex;color:#fff;height:60px;background:#ccc;width:280px;margin:0 auto;}
.box-col-1{-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.box-col-2{-webkit-box-flex:2;-webkit-flex:2;flex:2;}
.flex-start-v{-webkit-box-align:start;-webkit-align-items:flex-start;align-items:flex-start;}
.flex-end-v{-webkit-box-align:end;-webkit-align-items:flex-end;align-items:flex-end;}
.center-v{-webkit-box-align:center;-webkit-align-items:center;align-items:center;}
.baseline-v{-webkit-box-align:baseline;-webkit-align-items:baseline;align-items:baseline;}
.flex-start-h{-webkit-box-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start;}
.flex-end-h{-webkit-box-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end;}
.center-h{-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;}
.space-between-h{-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}
.space-around-h{-webkit-justify-content:space-around;justify-content:space-around;}
.row-reverse{-webkit-flex-direction:row-reverse;flex-direction:row-reverse;}
.column{-webkit-flex-direction:column;flex-direction:column;}
.column-reverse{-webkit-flex-direction:column-reverse;flex-direction:column-reverse;}
.nowrap{-webkit-flex-wrap:nowrap;flex-wrap:nowrap;}
.wrap{-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.wrap-reverse{-webkit-flex-wrap:wrap-reverse;flex-wrap:wrap-reverse;}
.ac-flexstart{-webkit-align-content:flex-start;align-content:flex-start;}
.ac-flexend{-webkit-align-content:flex-end;align-content:flex-end;}
.ac-center{-webkit-align-content:center;align-content:center;}
.ac-spacebetween{-webkit-align-content:space-between;align-content:space-between;}
.ac-spacearound{-webkit-align-content:space-around;align-content:space-around;}
.ac-stretch{-webkit-align-content:stretch;align-content:stretch;}
.item{padding:15px;background:red;margin:5px;}
.col01{background:red;}
.col02{background:green;}
.col03{background:blue;}
.h50{height:50px;}
.h20{height:20px;}
.h40{height:40px;}
.w80{width:80px;}
.w40{width:40px;}
.w50{width:50px;}
.order-1{-webkit-order:-1;order:-1;}
.a{width:100px;height:60px;}
.b{flex-grow:1;width:50px;height:60px;}
.c{flex-grow:3;width:50px;height:60px;}
.aa, .bb, .cc{height:60px;width:100px;}
.aa{-webkit-flex-shrink:2;flex-shrink:2;}
.basis{height:60px;width:100px;}
.basis:nth-child(2){-webkit-flex-basis:200px;flex-basis:200px;}
.f1{flex:1 1 160px;height:60px;}
.f2{flex:2 2 100px;height:60px;}
.f3{flex:3 3 80px;height:60px;}
